


.alert-tost-popup-main{
    position: fixed;
    bottom: 2.5%;
    left: 50%;
    z-index: 1000;

    display: flex;
    align-items: center;
    
    background: #fff;
    color: #363636;
    line-height: 1.3;
    will-change: transform;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1), 0 3px 3px rgba(0, 0, 0, 0.05);
    min-width: 350px;
    max-width: 550px;
    height: 60px;
    pointer-events: auto;
    padding: 8px 10px;
    border-radius: 8px;

    
    opacity: 0;
    transform: translateY(100%) translateX(-50%) scale(.5);

    animation: toastSliderY 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal forwards;
    animation-delay: .2s;
}
.hide-alert-tost-popup-main{
    opacity: 1;
    transform: translateY(0) translateX(-50%) scale(1);

    animation: toastSliderYReverse 0.35s cubic-bezier(0.21, 1.02, 0.73, 1) 0s 1 normal forwards;
    animation-delay: .2s;
}
.alert-tost-error{
    background: rgb(255, 57, 57);
    color: var(--light-font-color);
}
.alert-tost-success{
    background: rgb(46, 212, 122);
    color: var(--light-font-color);
}
.alert-tost-warning{
    background: var(--warning-color);
    color: var(--light-font-color);
}


.alert-tost-popup-main .alert-tost-popup-content{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
}
.alert-tost-popup-main .alert-tost-popup-content .label{
    font-weight: 500;
    font-size: 15px;
}
.alert-tost-popup-main .alert-tost-popup-content .icon{
    width: 24px;
    height: 24px;
}
.alert-tost-popup-main .alert-tost-popup-content .icon svg{
    width: inherit;
    height: inherit;
}
.alert-tost-popup-main .alert-tost-popup-content .icon svg path{
   fill: var(--light-font-color);
}

@keyframes toastSliderY {

    to {
        transform: translateY(0) translateX(-50%) scale(1);
        opacity: 1;

    }
}
@keyframes toastSliderYReverse {

    to {
        transform: translateY(100%) translateX(-50%) scale(0.5);
        opacity: 0;

    }
}